// メディアクエリ
$breakpoint: (
  //  800px以下
  sp: 'screen and (max-width: 800px)',
  //  960px以下
  tab: 'screen and (max-width: 1024px)',
  //  1025px以上
  pc: 'screen and (min-width: 1025px)'
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
  @content;
  }
}
