@charset "UTF-8";

/*-------------------------------------------
共通部分
-------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Helvetica Neue","Arial","Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
  line-height: 1.7;
  letter-spacing: 0.25rem;
  color: #160c54;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

/* SERVICE・CONTACTページセクションリードのアニメーション */
.fadeIn {
  animation-name: fadeInAnime;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  opacity: 0;
}

@keyframes fadeInAnime{
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定 */
.fadeIn {
  opacity: 0;
}

/* serviceページとcontactページhero */
.hero {
  width: 100%;
  height: 315px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  top: 80px;
  left: 0;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}

.hero::before {
  border-right: 1px solid #fff;
  bottom: 0;
}

.hero::after {
  border-right: 1px solid #160c54;
  bottom: -35px;
}

.hero::before, .hero::after {
  content: "";
  width: 1px;
  height: 35px;
  display: block;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}

.hero .hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .hero-txt {
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  filter: drop-shadow(1px 1px 10px #c0c0c0);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero .page-title {
  font-size: 48px;
  letter-spacing: .045em;
  line-height: 1.55;
  font-weight: 600;
}

.hero .hero-desc {
  font-size: 16px;
  letter-spacing: .01em;
}

/* root */
:root {
  --easing-ease-out: cubic-bezier( .215, .61, .355, 1);
  --size-base: 1240;
}

/*-------------------------------------------
header
-------------------------------------------*/
#header {
  width: 100%;
  padding: 24px 0 24px 24px;
  background-color: #0428A1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 35;
  display: flex;
}

#header .site-logo {
  width: 240px;
  line-height: 1px;
}

#header .site-logo a {
  display: block;
}

/*
nav menu--------------------------------- */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 85vh;
  color: #160c54;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  opacity: 0;
  visibility: hidden;
  background-color: #160C54;
  font-size: 0.85rem;
  z-index: 20;
}

#nav .nav-logo {
  width: 240px;
  position: absolute;
  top: 24px;
  left: 24px;
}

#nav .nav-menu {
  margin: 100px 0 60px 0;
}

#nav .nav-item {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  border-bottom: 1px solid #fff;
  position: relative;
}

#nav .nav-item::after{
  content: "";
  width: 12px;
  height: 12px;
  border: 0;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 24px;
  margin-top: -6px;
  transition: right 0.5s;
}

#nav .nav-item:hover::after {
  right: 1em;
}

#nav .nav-item a {
  display: block;
  height: 80px;
  line-height: 80px;
}

/* #nav .nav-item:last-child {
  margin-bottom: 80px;
} */

.nav-btn {
  display: block;
  border: 1px solid #fff;
  padding: 14px 40px;
  font-size: 1rem;
  font-weight: bold;
  width: 250px;
  margin: 0 auto;
  position: relative;
}

.nav-btn:hover {
  background-color: #fff;
  color: #160C54;
  transition: all .3s ease;
}

.nav-btn::after {
  content: "";
  width: 250px;
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff;
  padding: 25px 0;
  position: absolute;
  right: -6px;
  bottom: -6px;
}

/* ヘッダーお問い合わせ */
.header-contact-btn {
  font-weight: bold;
  width: 240px;
  height: 100px;
  line-height: 100px;
  background-color: #5578B4;
  position: absolute;
  top: 0;
  right: 100px;
}

.header-contact-btn .contact-btn {
  width: 240px;
  height: 100px;
  display: flex;
  padding-left: 24px;
  align-items: center;
  font-size: 1.275rem;
  letter-spacing: 0.25rem;
  color: #fff;
}

/* 矢印 */
.arrow {
  display: inline-block;
  margin-left: 10px;
  width: 28px;
  height: 8px;
  border-bottom: 2px solid #0428a1;
  border-right: 2px solid #0428a1;
  transform: skew(45deg);
  position: absolute;
  top: 45%;
  right: 40px;
}

/* 白丸 */
.circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 35%;
  right: 20px;
}

/* ハンバーガーメニューの枠 */
.toggle-btn {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.5s;
  cursor: pointer;
  z-index: 30;
  background-color: #160C54;
  display: block;
}

/*
ハンバーガーメニューの線の設定（メニューが閉じている時）
*/
.toggle-btn > span {
  display: block;
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  transition: all .5s;
}

/*
1本目の線の位置を設定
*/
.toggle-btn span:nth-child(1) {
  top: 35px;
  left: 25px;
}

/*
2本目の線の位置を設定
*/
.toggle-btn span:nth-child(2) {
  top: 50px;
  left: 25px;
  width: 40px;
}

/*
3本目の線の位置を設定
*/
.toggle-btn span:nth-child(3) {
  bottom: 35px;
  left: 25px;
  width: 25px;
}

/*
ハンバーガーメニュー
メニューが開いている時は、「opacity: 1;」で
画面表示する
*/
.open #nav {
  opacity: 1;
  visibility: visible;
}

/*
1本目の線を-45度回転
*/
.open .toggle-btn span:nth-child(1) {
  -webkit-transform: translateY(18px) rotate(-45deg);
  transform: translateY(18px) rotate(-45deg);
}

/*
2本目の線を非表示
*/
.open .toggle-btn span:nth-child(2) {
opacity: 0;
}

/*
3本目の線を315度回転
*/
.open .toggle-btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
  width: 50px;
}

.open .toggle-btn span {
  background-color: #fff;
}

/*
1本目の線を-45度回転
*/
.open .toggle-btn span:nth-child(1) {
  -webkit-transform: translateY(18px) rotate(-45deg);
  transform: translateY(18px) rotate(-45deg);
}

/*
2本目の線を非表示
*/
.open .toggle-btn span:nth-child(2) {
opacity: 0;
}

/*
3本目の線を45度回転
*/
.open .toggle-btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
}

/*-------------------------------------------
main
-------------------------------------------*/
.contact-lead {
  display: block;
  font-size: 1.2rem;
  text-align: center;
  margin: 160px 0 60px; /*調整の必要あり*/
}

.contact-lead span {
  display: block;
  margin-bottom: 16px;
}

/*
 コンタクトフォーム------------------------ */
.contact-wrapper {
  position: relative;
  margin-bottom: 120px;
}

/* .contact-wrapperと重複するような指定なのでいらない？ */
/* .contact-container {
  margin: 0 auto;
  max-width: 1680px;
} */

.contact-inner {
  max-width: 800px; /* 数値は要調整 */
  margin: 0 auto; /* 中央配置 */
}

.contact-wrapper form {
  border-radius: 18px;
  box-shadow: 0 0 15px -9px rgba(0, 0, 0, 1);
  padding: 0 5% 25px;
  width: 100%;
}

/* 重複してるからいらない */
/* .contact-wrapper form {
  border-radius: 18px;
  box-shadow: 0 0 15px -9px rgba(0, 0, 0, 1);
  padding: 0 5% 25px;
  width: 90%;
  margin: 0 auto;
} */

/* お名前〜問い合わせ内容項目ごとに分割 */
.contact-form-group {
  position: relative;
  text-align: left;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: .8px;
}

.contact-form-group:first-child {
  padding-top: 60px;
}

.contact-form-title {
  display: block;
  width: 100%;
  font-weight: 500;
  padding-bottom: 12px;
  line-height: 1.75;
  letter-spacing: .8px;
}

/* 姓名の分割をやめてname一つに */
/* .form-flex {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
} */

/* .form-flex-item:first-child {
  margin-right: 40px;
} */


.form-text {
  padding: 18px;
  color: #151515;
}

.form-textarea {
  display: block;
  height: 350px;
  resize: none;
}

/* いらなそう？ */
#input-company, #input-department {
  margin-bottom: 24px;
}

/* *印 */
.form-area dt .required::before {
  content: "*";
  font-size: 15px;
  color: #b70000;
  margin-right: 8px;
}

.select-box {
  width: 200px;
  height: 40px;
  background-color: #f5f5f5;
}

/*
	Form Parts
----------------------------------------*/
/*各フォーム部品の基本スタイルを上書き*/
input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  -webkit-appearance: none;
  appearance: none; /*ブラウザ標準スタイルを無効にする*/
  width: 100%;
  background: #f5f5f5;
  border-radius: 4px;
  font-family: inherit;
  line-height: normal;
}

/* デフォルトの矢印を表示 */
select {
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
  appearance: menulist;
}

/* デフォルトの矢印を表示 */
select::-ms-expand {
  display: block;
}

/*フォーカス時*/
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(55,149,47,0.7);
}

/* デフォルトのチェックボックス */
input[type="checkbox"] {
  opacity: 0; /*透明にして見えなくする*/
  position: absolute; /*本来の配置から切り離す*/
}

/*クリック範囲*/
input[type="checkbox"] + span {
  display: inline-block;
  position: relative;
  padding: 0.3em 0.3em 0.3em 2em;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
}

/*フォーカス時*/
input[type="checkbox"]:focus + span {
  outline: none;
  box-shadow: 0 0 5px rgba(55,149,47,0.7);
}

/*チェックボックススタイル*/
input[type="checkbox"] + span::before {
  position: absolute;
  top: 0.2em;
  left: 0;
  content: "";
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1;
  vertical-align: middle;
}

/*チェックボックス未チェック時*/
input[type="checkbox"] + span::after {
  content: "";
  display: none;
}

/*チェックボックスチェック時*/
input[type="checkbox"]:checked + span::after {
  display: block;
  position: absolute;
  top: 0.2em;
  left: 0.4em;
  width: 0.5em;
  height: 1em;
  content: "";
  border-bottom: 3px solid #37952F;
  border-right: 3px solid #37952F;
  transform: rotate(45deg);
}

/*エラーメッセージ*/
/* .errortextのみにしてフォーム全体に指定するのでこれはいらない */
/*  inputfield = contact-form-group */
/* .inputfield .errortext {
  display: block;
  align-items: center;
  margin-top: 16px;
  color: #b70000;
  font-size: 0.85rem;
  font-weight: bold;
} */

.privacy-box-check {
  text-align: center;
}

.privacy-box-check .errortext {
  display: block;
  align-items: center;
  margin-top: 16px;
  color: #b70000;
  font-size: 0.85rem;
  font-weight: bold;
}

/*----------------------------------------
	個人情報保護方針
----------------------------------------*/
/*
 Modal------------------------ */
.js_modalBtnWrap {
  max-width: 100%;
  text-align: center;
}

.js_modalBtnCont {
  display: block;
  color: #160c54;
  transition: 0.3s;
}

.js_modalBtnCont:hover {
  color: #b70000;
}

.js_modalWrap {
  opacity: 0;
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.js_modalWrap.active {
  animation: modalOpen 0.3s ease forwards;
}

.js_modalWrap.active2 {
  animation: modalClose 0.3s ease forwards;
}

.js_modalBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.js_modalContInner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 720px;
  max-width: 100%;
  background-color: #fff;
  max-height: 600px;
  padding: 40px;
}

.js_modalCont {
  overflow-y: scroll;
  max-height: 520px;
  padding-right: 10px;
}

.js_modalCont > p {
  margin-bottom: 10px;
}

.js_modalClose {
  display: block;
  position: absolute;
  top: 10.5px;
  right: 10.5px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
  z-index: 1001;
}

.js_modalClose::before,
.js_modalClose::after {
  content: "";
  background-color: #222;
  position: absolute;
  top: -5px;
  right: 10px;
  width: 1px;
  height: 30px;
}

.js_modalClose::before {
  transform: rotate(45deg);
}

.js_modalClose::after {
  transform: rotate(-45deg);
}

@keyframes modalOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    z-index: 1000;
  }
}

@keyframes modalClose {
  0% {
    opacity: 1;
    z-index: 1000;
  }
  100% {
    opacity: 0;
  }
}

/*
 コンテンツの中身 ------------------------ */
.ly_inner {
  width: 100%;
  max-width: 1080px;
  padding: 20px 0;
}

.ly_inner h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

/*
 送信ボタン------------------------ */
.send-btn, .makesurebox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 40px 0 24px 0;
}

.submit-btn {
  position: relative;
  display: block;
  padding: 1em 2em 1em 1em;
  width: 175px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 1;
  background: #0428a1;
  text-indent: 0.1em;
  letter-spacing: 0.1em;
  border-radius: 50px;
  border: 1px solid #0428a1;
  box-shadow: 10px 10px 15px -9px rgba(0, 0, 0, 1);
}

.submit-btn:hover {
  color: #0428a1;
  background: #fff;
  border: 1px solid #0428a1;
  box-sizing: border-box;
}

.back-btn:hover {
  color: #46aab5;
  background: #fff;
  border: 1px solid #46aab5;
  box-sizing: border-box;
}

.back-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1.5em;
  margin: auto;
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  transform: rotate(-135deg);
  transition: left 0.5s;
}

.right-arrow::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.5em;
  margin: auto;
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  transform: rotate(45deg);
  transition: right 0.5s;
}

.back-btn:hover:before{
  left: 1em;
  border-right: 1px solid #46aab5;
  border-top: 1px solid #46aab5;
}

.right-arrow:hover:after{
  right: 1em;
  border-right: 1px solid #0428a1;
  border-top: 1px solid #0428a1;
}

/* いらないかも */
/* .backandsendbox {
  margin-top: 40px;
} */

.back-btn {
  margin-top: 24px;
  background: #46aab5;
  border: 1px solid #46aab5;
}

.contact3 {
  margin: 180px 0 120px;
}

/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
  width: 100%;
  height: auto;
  padding: 24px 24px 0 24px;
  background-color: #0428a1;
}

#footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#footer .footer-container .site-logo {
  width: 240px;
  line-height: 1px;
}

#footer .footer-container .site-logo a {
  display: block;
}

#footer .footer-container .footer-item {
  width: 35%;
  line-height: normal;
}

#footer .footer-container .footer-item ul {
  display: flex;
  justify-content: space-evenly;
}

#footer .footer-container .footer-item li {
  padding: 5px;
  font-size: 0.75rem;
  letter-spacing: normal;
}

#footer .footer-container .footer-item ul a {
  color: #fff;
}

#footer .copy {
  text-align: center;
  font-size: 0.7rem;
  padding-bottom: 10px;
  color: #fff;
  letter-spacing: normal;
}

/*
 トップへ戻るボタン------------------------ */
/*
右下に固定で配置
表示・非表示の切り替えはjQueryで行うため、詳細は「script.js」のコメントを参照
*/
#to-top {
  width: 80px;
  height: 80px;
  background-color: #46aab5;
  border: solid 1px #fff;
  border-radius: 50%;
  position: fixed;
  right: 25px;
  bottom: 100px;
}
/*
中の三角は疑似要素で作成
*/
#to-top::after {
  content: "";
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-width: 4px 4px 0 0;
  border-color: #fff;
  transform: rotate( -45deg);
  left: 35%;
  top: 30px;
}

#to-contact {
  display: none;
}


/*--------------------------------------------
スマホ版
-------------------------------------------- */
@media (max-width: 959px) {
/*-------------------------------------------
共通
-------------------------------------------*/
/*-------------------------------------------
header
-------------------------------------------*/
#header {
  height: 80px;
}

#header .site-logo{
  width: 150px;
  line-height: .9;
}

/*
SP-header nav ------------------------ */
#nav {
  height: 70vh;
}

#nav .nav-logo {
  width: 150px;
  line-height: .9;
  position: absolute;
  top: 32px;
}

/*
header お問い合わせ ------------------------ */
#header .header-contact-btn {
  display: none;
}

/*
ハンバーガーメニュー ------------------------ */
.toggle-btn {
  width: 80px;
  height: 80px;
}

.toggle-btn span {
  width: 40px;
  height: 3px;
}

/*
1本目の線の位置を設定
*/
.toggle-btn span:nth-child(1) {
  top: 28px;
  left: 20px;
}

/*
2本目の線の位置を設定
*/
.toggle-btn span:nth-child(2) {
  top: 40px;
  left: 20px;
  width: 30px;
}

/*
3本目の線の位置を設定
*/
.toggle-btn span:nth-child(3) {
  bottom: 25px;
  left: 20px;
  width: 20px;
}

/*
クリック後の1・3本目の線の長さ調整
*/
.open .toggle-btn span:nth-child(1) {
  width: 40px;
}

.open .toggle-btn span:nth-child(3) {
  width: 40px;
}

/*
1本目の線を-45度回転
*/
.open .toggle-btn span:nth-child(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
  transform: translateY(12px) rotate(-45deg);
}

/*
3本目の線を45度回転
*/
.open .toggle-btn span:nth-child(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
  transform: translateY(-12px) rotate(45deg);
}

/*-------------------------------------------
main
-------------------------------------------*/
/*-------------------------------------------
CONTACT.html
-------------------------------------------*/
.hero {
  height: 200px;
}

.contact-lead {
  margin: 160px 0 60px; /*調整の必要あり*/
  padding: 0 24px;
}

.contact-lead .contact1, .contact3 {
  font-size: 0.95rem;
}

.contact-lead .contact2 {
  font-size: 1.25rem;
}

.contact-lead .contact3 {
  font-size: 0.95rem;
}

.contact-lead span {
  margin-bottom: 12px;
}

/*
 コンタクトフォーム------------------------ */
.contact-container {
  width: 100%;
}

.contact-inner {
  max-width: 760px; /* 数値は要調整 */
  width: 100%;
}

/* クラスない 消した*/
/* .contact-form {
  padding-top: 5px;
} */

.contact-wrapper form {
  border-radius: 18px;
  box-shadow: 0 0 15px -9px rgba(0, 0, 0, 1);
  padding: 0 5% 25px;
}

.contact-form-group {
  position: relative;
  text-align: left;
  padding-top: 50px;
  font-size: 16px;
  font-weight: 400;
}

.contact-form-title {
  display: block;
  width: 100%;
  font-weight: 500;
  padding-bottom: 12px;
}

.form-flex {
  display: block;
}

.form-flex-item:first-child {
  margin-right: 0;
  margin-bottom: 20px;
}

.form-text {
  padding: 12px;
}

input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

.privacy-box {
  padding: 0;
  font-size: 0.65rem;
  line-height: 1.85;
}

.privacy-box-check {
  margin-top: 25px;
}

/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
  padding: 24px 0 12px 24px;
}

#footer .footer-container {
  flex-wrap: wrap;
  margin-bottom: 0;
}

#footer .footer-container .site-logo {
  width: 150px;
  line-height: .9;
 }

#footer .footer-container .footer-item {
  width: 100%;
  margin: 24px 0 20px;
}

#footer .footer-container .footer-item ul {
  flex-direction: column;
  /* 左寄せ */
  align-items: flex-start;
}

#footer .footer-container .footer-item li {
  padding-bottom: 10px;
}

#footer .copy {
  padding-bottom: 0;
}


/*
 トップへ戻るボタン------------------------ */
#to-top {
  width: 50px;
  height: 50px;
  bottom: 25px;
}

/*
中の三角は疑似要素で作成
*/
#to-top::after {
  width: 20px;
  height: 20px;
  top: 20px;
  left: 30%;
}

/*
右下のcontactへボタン------------------------ */
#to-contact {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #5578b4;
  border: solid 1px #fff;
  border-radius: 50%;
  position: fixed;
  right: 25px;
  bottom: 80px;
  z-index: 2;
}

#to-contact .c-icon {
  width: clamp( 18px, calc( 24 / var(--size-base) * 100vw), 24px);
  font-size: 24px;
  display: inline-block;
  height: 1em;
  vertical-align: -0.125em;
  position: absolute;
  top: 12px;
  left: 25%;
}

}
